<div class="container">
  <div class="row">
    <div class="span12">
        <div class="notice"><%= notice %></div>
      <h3>Movie#show</h3>

      <%= @movie.title %>
      <%= @movie.description %>
      <% if @likes.empty? %>
        <%= link_to "Like", new_movie_like_path(@movie) %>
        <p>No one likes this yet.</p>
      <% elsif @users.include?(current_user) %>
        <%= link_to "Unlike", movie_like_path(@movie), method: :delete %>
        <%= pluralize(@movie.likes.count, "likes") %>
      <% else %>
        <%= link_to "Like", new_movie_like_path(@movie) %>
        <%= pluralize(@movie.likes.count, "likes") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <hr>
      <h3>Reviews</h3>
        <% @reviews.each do |review| %>
          <% unless review.content.nil? %>
            <%= review.score %>
            <%= review.user.email %>
            <%= review.content %>
            <% if review.user == current_user %>
              <%= link_to "Delete", movie_review_path(@movie, review), method: :delete %>
              <%= link_to "Edit", edit_movie_review_path(@movie, review) %>
            <% end %>
          <% end %>
          <hr>
        <% end %>
        <%= render '/reviews/review_form' %>
    </div>
  </div>
</div>
