<div class="container">
  <div class="row">
    <div class="span12">
        <div class="notice"><%= notice %></div>
      <h3>Movie#show</h3>

      <%= @movie.title %>
      <%= @movie.description %>

      <% if @movie.likes.empty? %>
        <p>No one likes this yet.</p>
      <% else %>
        <p><%= pluralize(@movie.likes.count, "like") %></p>
      <% end %>
        <% if user_likes? @movie %>
          <p><%= link_to "Like", new_movie_like_path(@movie), id: "like_movie" %></p>
          <p><%= link_to "Dislike", movie_like_path(@movie), method: :delete, id: "dislike_movie" %></p>
        <% elsif user_dislikes? @movie %>
          <p><%= link_to "Like", movie_like_path(@movie), method: :delete, id: "like_movie" %></p>
          <p><%= link_to "Dislike", new_movie_like_path(@movie), id: "dislike_movie" %></p>
        <% else %>
          <p><%= link_to "Like", new_movie_like_path(@movie), id: "like_movie" %></p>
          <p><%= link_to "Dislike", new_movie_like_path(@movie), id: "dislike_movie" %></p>
        <% end %>

    </div>
  </div>
  <div class="row">
    <div class="span12">
      <hr>
      <h3>Reviews</h3>
        <% @reviews.each do |review| %>
          <% unless review.content.nil? %>
            <%= review.score %>
            <%= review.user.email %>
            <%= review.content %>

            <% if review.likes.empty? %>
              <p>No one likes this yet</p>
            <% else %>
              <p><%= pluralize(review.likes.count, "like") %></p>
            <% end %>

            <% if user_likes? review %>
              <%= link_to "Unlike", movie_review_like_path(@movie, review), method: :delete, id: "unlike_review" %>
            <% else %>
              <%= link_to "Like", new_movie_review_like_path(@movie, review), id: "like_review" %>
            <% end %>

            <% if review.user == current_user %>
              <%= link_to "Delete", movie_review_path(@movie, review), method: :delete %>
              <%= link_to "Edit", edit_movie_review_path(@movie, review) %>
            <% end %>
          <% end %>
          <hr>
        <% end %>
        <%= render '/reviews/review_form' %>
    </div>
  </div>
</div>
