<div class="container mainbody">
  <div class="row">
    <div class="span12">
        <div class="notice"><%= notice %></div>
      <div class="likes">
        <% if user_likes? @movie %>
          <p><%= link_to "Like", new_movie_like_path(@movie, :polarity => 1), id: "like_movie" %>
          <%= render 'likes/movie_likes_number' %>
          <%= link_to "Dislike", movie_like_path(@movie, :polarity => -1), method: :delete, id: "dislike_movie" %></p>
        <% elsif user_dislikes? @movie %>
          <p><%= link_to "Like", movie_like_path(@movie, :polarity => 1), method: :delete, id: "like_movie" %>
          <%= render 'likes/movie_likes_number' %>
          <%= link_to "Dislike", new_movie_like_path(@movie, :polarity => -1), id: "dislike_movie" %></p>
        <% else %>
          <p><%= link_to "Like", new_movie_like_path(@movie, :polarity => 1), id: "like_movie" %>
          <%= render 'likes/movie_likes_number' %>
          <%= link_to "Dislike", new_movie_like_path(@movie, :polarity => -1), id: "dislike_movie" %></p>
        <% end %>
      </div>
      <h3><%= @movie.title %></h3>

      <%= @movie.description %>
      <br><br>

    </div>
  </div>
  <div class="row">
    <div class="span12">
      <hr>
      <h3>Reviews</h3>
        <% @reviews.each do |review| %>
          <% unless review.content.nil? %>
            <% unless review.status == "suspended" %>
              <div class="likes">
                <% if user_likes? review %>
                  <p><%= link_to "Like", new_movie_review_like_path(@movie, review, :polarity => 1), id: "like_review" %></p>
                    <p class="review_likes"><%= pluralize(polarify(review).abs, likeify(review)) %></p>
                  <p><%= link_to "Dislike", movie_review_like_path(@movie, review, :polarity => -1), method: :delete, id: "dislike_review" %></p>
                <% elsif user_dislikes? review %>
                  <p><%= link_to "Like", movie_review_like_path(@movie, review, :polarity => 1), method: :delete, id: "like_review" %></p>
                    <p class="review_likes"><%= pluralize(polarify(review).abs, likeify(review)) %></p>
                  <p><%= link_to "Dislike", new_movie_review_like_path(@movie, review, :polarity => -1), id: "dislike_review" %></p>
                <% else %>
                  <p><%= link_to "Like", new_movie_review_like_path(@movie, review, :polarity => 1), id: "like_review" %></p>
                    <p class="review_likes"><%= pluralize(polarify(review).abs, likeify(review)) %></p>
                  <p><%= link_to "Dislike", new_movie_review_like_path(@movie, review, :polarity => -1), id: "dislike_review" %></p>
                <% end %>
              </div>
              <div class="review">
                <div class="gravatar"><%= image_tag avatar_url(review.user) %></div>
                <div class="score_circle"><div class="score"><%= review.score %></div></div>
                <div class="email"><%= review.user.email %></div>
                <br>
                <p><%= review.content %></p>

                <br>

                <% if review.user == current_user %>
                  <%= link_to "Delete", movie_review_path(@movie, review), method: :delete %>
                  <%= link_to "Edit", edit_movie_review_path(@movie, review) %>
                <% end %>
                <br><br>
              </div>
              <% end %>
            <% end %>
        <% end %>
        <div class="add_review">
          <%= render '/reviews/review_form' %>
        </div>
    </div>
  </div>
</div>
